<ng-container *ngIf="albums?.length">
  <h1>All Albums of {{artist}}</h1>
  <div class="albums__wrapper">
    <div class="albums">
      <div *ngFor="let album of albums" class="albums__item">
        <a routerLink="/artist/{{album.artist.name}}/album/{{album.name}}" title="{{album.name}}">{{album.name}}</a>
        <a routerLink="/artist/{{album.artist.name}}/album/{{album.name}}">
          <img src="{{album.image[2]['#text']}}" />
        </a>
      </div>
    </div>
  </div>
  <app-comments></app-comments>
</ng-container>
