:host {
  display: block;
  padding: 20px;
}

.controls {
  list-style: none;
  display: flex;
  justify-content: space-around;
  border: 1px solid #dadada;
  margin-bottom: 15px;
  font-size: 14px;
  border-radius: 3px;

  li {
    display: flex;
    flex-grow: 1;
    background: #edeef0;
    &.active {
      background: #fff;
    }
  }

  a {
    text-decoration: none;
    color: #165096;
    padding: 4px 0;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    border-right: 1px solid #dadada;
  }

  li:last-child a {
    border-right: 0 none;
  }
}
