:host {
  display: block;
  padding: 20px;
}

h1 {
  font-size: 20px;
  padding: 0 0 14px;
  color: #358;
}

.labels {
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  background: #f05f70;
  color: white;
  padding: 6px 10px;
  margin: 3px;
  border-radius: 2px;
  font-size: 13px;
  display: block;
  white-space: nowrap;
}
