.artist-preview {
  margin-top: 15px;
  display: flex;
}

.artist-preview__image {
  margin-right: 15px;
}

img {
  display: block;
  width: 174px;
  height: 174px;
}

.artist-preview__info {
  h2 {
    > a {
      margin-bottom: 10px;
      display: block;
      color: teal;
    }
  }
}
