<div *ngIf="artist && artist.name" class="artist-preview">
  <div class="artist-preview__image">
    <a routerLink="/artist/{{artist.name}}/bio">
      <img [src]="artist.image[2]['#text']" [alt]="artist.name">
    </a>
  </div>
  <router-outlet></router-outlet>
  <div class="artist-preview__info">
    <h2>
      <a routerLink="/artist/{{artist.name}}/bio" [innerHTML]="artist.name"></a>
    </h2>
    <div [innerHTML]="artist.bio.summary"></div>
  </div>
</div>
<app-top-albums *ngIf="artistName" [artist]="artistName"></app-top-albums>
<app-similar *ngIf="artist && artist.similar && artist.similar.artist" [similar]="artist.similar.artist"></app-similar>