:host {
  display: block;
  padding: 20px;
}

h1 {
  font-size: 20px;
  padding: 0 0 14px;
  color: #358;
}

.station-block {
  display: flex;
  margin-bottom: 15px;
}

.station-info {
  background: #f9f9f9;
  padding: 15px;
  box-shadow: 0 1px 3px 1px #ece7e7;
  border-radius: 10px;
  font-size: 14px;

  a {
    color: #4f7197;
    text-decoration: none;
  }
}

.station-block__text {
  margin-left: 10px;
}
