<div class="description">
  <img src="https://frentsel.github.io/radio.react/images/{{station?.img}}" alt="{{station?.title}}">
  <div class="text">
    <h1>{{station?.title}}</h1>
    <p>{{station?.text}}</p>
    <div class="info">
      Город:<a routerLink="/list/city/{{station?.city}}">{{station?.city}}</a>,<a routerLink="/list/country/{{station?.country}}">{{station?.country}}</a>,
      Жанр:<a routerLink="/list/genre/{{station?.genre}}">{{station?.genreRu}}</a>, 
      Сайт:<a href="{{station?.radioLink}}" target="_blank">{{station?.radioLink}}</a>
    </div>
  </div>
</div>
<app-artist-preview *ngIf="artistName" [artistName]="artistName"></app-artist-preview>
<app-comments></app-comments>