:host {
  display: block;
  padding: 20px;
}

h1 {
  font-size: 20px;
  padding: 0;
  color: #358;
}

.stations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 0;
}

preview-station {
  display: flex;
  flex-direction: column;
  margin: 0 0 12px;
  width: 137px;
}
