<ul class="controls">
  <li routerLinkActive="active">
    <a [routerLink]="[artist, 'bio']">Биография</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="[artist, 'playlist']" class="active">Плейлист</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="[artist, 'photos']">Фото</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="[artist, 'video']">Видео</a>
  </li>
  <li routerLinkActive="active">
    <a [routerLink]="[artist, 'albums']">Альбомы</a>
  </li>
</ul>
<router-outlet></router-outlet>
