<h2>Top Albums</h2>
<ng-container *ngIf="albums$ | async; let albums">
  <div class="albums">
    <div *ngFor="let album of albums" class="album">
      <a routerLink="/artist/{{album.artist.name}}/album/{{album.name}}" title="{{album.name}}">{{album.name}}</a>
      <a routerLink="/artist/{{album.artist.name}}/album/{{album.name}}">
        <img src="{{album.image[2]['#text']}}" />
      </a>
    </div>
  </div>
  <a routerLink="/artist/{{albums[0].artist.name}}/albums">See more</a>
</ng-container>
