:host {
  display: block;
  padding: 20px;
}

h1 {
  font-size: 18px;
  padding: 0 0 10px;
  color: #358;
}

img {
  width: 100px;
  height: 100px;
}

.description {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px dashed #cecece;
  padding-bottom: 20px;
}

.info {
  font-size: 12px;
  padding-top: 15px;
  color: grey;

  a {
    color: #f05f70;
    text-decoration: none;
    margin-left: 5px;
  }
}

.text {
  margin-left: 10px;
}
