::-webkit-input-placeholder {
    color: #000;
}

::-moz-placeholder {
    color: #000;
}

:-ms-input-placeholder {
    color: #000;
}

:-moz-placeholder {
    color: #000;
}

.search-form {
    margin: 0 15px;
    position: relative;
}

.search-field {
    height: 20px;
    border: 1px solid #3e5c80;
    padding: 5px;
    color: #fff;
    background: #45658a;
    width: 180px;
    transition: .3s;
}

.search-field:focus {
    background: #415d81;
}

.search-artists {
    position: absolute;
    background: #45658a;
    width: 100%;
    color: #fff;
    border-left: 1px solid #3e5c80;
    border-right: 1px solid #3e5c80;
    max-height: 263px;
    overflow: auto;
    display: none;
}

.search-artists.focus {
    display: block;
}

.search-artists__item {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #3e5c80;
    display: flex;
    padding: 5px;
}

.search-artists__preview {
    display: flex;
    align-items: center;
    line-height: 16px;
    font-size: 14px;
}

.search-artists__preview {
    display: flex;
}

.search-artists__preview img {
    border-radius: 50%;
    float: left;
}

.search-artists__name {
    flex-grow: 1;
    font-size: 13px;
    align-items: center;
    display: flex;
    padding-left: 5px;
}

.search-artists::-webkit-scrollbar {
    width: 5px;
    background-color: #3e5c80;
}

.search-artists::-webkit-scrollbar-thumb {
    background-color: #2c4563;
}

.search-artists::-webkit-scrollbar-track {
    background-color: rgb(83, 121, 165);
}
